
.top-list{
    list-style: none;
    display: inline;
    height: 50px;
}

.nav-tabs{
    display: inline;
}


.tabs{
    display: inline;
    flex: right;
    flex-direction: column;
}
#shine{
    font-size: 300%;
    font-weight: bold;
}